<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CompleteDistributionConfig" type="CDS.Client.BusinessLayer.Configuration.CompleteDistributionConfig, CDS.Client.BusinessLayer, Version=3.0.0.0" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CDS.Server.Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <CompleteDistributionConfig>
    <RegisteredCompanies> 
    </RegisteredCompanies>
  </CompleteDistributionConfig>
  <connectionStrings>
    <add name="ReportsConnection" connectionString="metadata=res://*/DB.CDSDBModelReadOnly.csdl|res://*/DB.CDSDBModelReadOnly.ssdl|res://*/DB.CDSDBModelReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=cds_pegasus;Persist Security Info=True;User ID=sa;Password=rabbit&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityViews" connectionString="metadata=res://*/DB.CDSDBModelReadOnly.csdl|res://*/DB.CDSDBModelReadOnly.ssdl|res://*/DB.CDSDBModelReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="CalendarEntityTables" connectionString="metadata=res://*/DB.CalendarModel.csdl|res://*/DB.CalendarModel.ssdl|res://*/DB.CalendarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntityTables" connectionString="metadata=res://*/DB.InventoryModel.csdl|res://*/DB.InventoryModel.ssdl|res://*/DB.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="CatalogueEntityTables" connectionString="metadata=res://*/DB.CatalogueModel.csdl|res://*/DB.CatalogueModel.ssdl|res://*/DB.CatalogueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingEntityTables" connectionString="metadata=res://*/DB.AccountingModel.csdl|res://*/DB.AccountingModel.ssdl|res://*/DB.AccountingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="BuyoutEntityTables" connectionString="metadata=res://*/DB.BuyoutModel.csdl|res://*/DB.BuyoutModel.ssdl|res://*/DB.BuyoutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkshopEntityTables" connectionString="metadata=res://*/DB.WorkshopModel.csdl|res://*/DB.WorkshopModel.ssdl|res://*/DB.WorkshopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="OrganisationEntityTables" connectionString="metadata=res://*/DB.OrganisationModel.csdl|res://*/DB.OrganisationModel.ssdl|res://*/DB.OrganisationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportEntityTables" connectionString="metadata=res://*/DB.ReportModel.csdl|res://*/DB.ReportModel.ssdl|res://*/DB.ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityEntityTables" connectionString="metadata=res://*/DB.SecurityModel.csdl|res://*/DB.SecurityModel.ssdl|res://*/DB.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="SystemEntityTables" connectionString="metadata=res://*/DB.SystemModel.csdl|res://*/DB.SystemModel.ssdl|res://*/DB.SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanResourcesEntityTables" connectionString="metadata=res://*/DB.HumanResourcesModel.csdl|res://*/DB.HumanResourcesModel.ssdl|res://*/DB.HumanResourcesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderingEntityTables" connectionString="metadata=res://*/DB.OrderingModel.csdl|res://*/DB.OrderingModel.ssdl|res://*/DB.OrderingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings> 
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CDS.Server.Installer.Properties.Settings>
      <setting name="RegisteredCompany" serializeAs="String">
        <value />
      </setting>
    </CDS.Server.Installer.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICDSService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:812/CDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICDSService" contract="CDSWebService.ICDSService" name="BasicHttpBinding_ICDSService" />
    </client>
  </system.serviceModel>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
