<div class="hidden-xs hidden-sm">
    <a ui-sref="root.customer.invoice.new({newDocument:'true'})" class="btn btn-default btn-sm fw600 ml10">
        <span class="fa fa-plus pr5"></span> New Invoice
    </a>
    <a href="ecommerce_products.html" class="btn btn-default btn-sm fw600 ml10 hidden">
        <span class="fa fa-plus pr5"></span> Add Product
    </a>
    <a href="ecommerce_customers.html" class="btn btn-default btn-sm fw600 ml10 hidden">
        <span class="fa fa-user pr5"></span> Add Customer
    </a>
</div>