<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BaseConnection" connectionString="MultipleActiveResultSets=True;Data Source=.\SQLExpress;Initial Catalog=complete_distribution;integrated security=sspi" />
    <add name="ReportsConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=complete_distribution;integrated security=sspi" />
    <add name="EntityViews" connectionString="metadata=res://*/DB.CDSDBModelReadOnly.csdl|res://*/DB.CDSDBModelReadOnly.ssdl|res://*/DB.CDSDBModelReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="CalendarEntityTables" connectionString="metadata=res://*/DB.CalendarModel.csdl|res://*/DB.CalendarModel.ssdl|res://*/DB.CalendarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryEntityTables" connectionString="metadata=res://*/DB.InventoryModel.csdl|res://*/DB.InventoryModel.ssdl|res://*/DB.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="CatalogueEntityTables" connectionString="metadata=res://*/DB.CatalogueModel.csdl|res://*/DB.CatalogueModel.ssdl|res://*/DB.CatalogueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingEntityTables" connectionString="metadata=res://*/DB.AccountingModel.csdl|res://*/DB.AccountingModel.ssdl|res://*/DB.AccountingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="BuyoutEntityTables" connectionString="metadata=res://*/DB.BuyoutModel.csdl|res://*/DB.BuyoutModel.ssdl|res://*/DB.BuyoutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkshopEntityTables" connectionString="metadata=res://*/DB.WorkshopModel.csdl|res://*/DB.WorkshopModel.ssdl|res://*/DB.WorkshopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="OrganisationEntityTables" connectionString="metadata=res://*/DB.OrganisationModel.csdl|res://*/DB.OrganisationModel.ssdl|res://*/DB.OrganisationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportEntityTables" connectionString="metadata=res://*/DB.ReportModel.csdl|res://*/DB.ReportModel.ssdl|res://*/DB.ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityEntityTables" connectionString="metadata=res://*/DB.SecurityModel.csdl|res://*/DB.SecurityModel.ssdl|res://*/DB.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="SystemEntityTables" connectionString="metadata=res://*/DB.SystemModel.csdl|res://*/DB.SystemModel.ssdl|res://*/DB.SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanResourcesEntityTables" connectionString="metadata=res://*/DB.HumanResourcesModel.csdl|res://*/DB.HumanResourcesModel.ssdl|res://*/DB.HumanResourcesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
    <add name="OrderingEntityTables" connectionString="metadata=res://*/DB.OrderingModel.csdl|res://*/DB.OrderingModel.ssdl|res://*/DB.OrderingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Timeout" value="10" />
    <add key="SALES_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutSales.xml" />
    <add key="PURCHASE_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutPurchase.xml" />
    <add key="ADJUSTMENT_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutAdjustment.xml" />
    <add key="RECEIPT_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutReceipt.xml" />
    <add key="PICKING_SLIP_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutPicking.xml" />
    <add key="WORK_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutWork.xml" />
    <add key="CUSTOMER_STATEMENT_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutStatementCustomer.xml" />
    <add key="SUPPLIER_STATEMENT_PRINTER_TEMPLATE" value="C:\SolutionsOnline\repos\CDSolutions\CDSDesktop\CDS.Web.DataService\Layout\LayoutStatementSupplier.xml" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>