<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CDS.Server.Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CDS.Server.Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CDS.Server.Backup.Properties.Settings>
            <setting name="acc" serializeAs="String">
                <value>cds@afrigis</value>
            </setting>
            <setting name="conn" serializeAs="String">
                <value>Password=rabbit; Persist Security Info=True;User ID=sa;Initial Catalog=cds_bps;Data Source=cds-pc</value>
            </setting>
            <setting name="contacts" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value>cds</value>
            </setting>
            <setting name="remotebackday" serializeAs="String">
                <value>Tuesday</value>
            </setting>
            <setting name="remotebackupdate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="remoteserver" serializeAs="String">
                <value>http://demo.retrorabbit.co.za/</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="spmin" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="spname" serializeAs="String">
                <value>spCheck_Daily</value>
            </setting>
            <setting name="sptime" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="backupdirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="backupmin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="backuptime" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="databasename" serializeAs="String">
                <value>cds_bps</value>
            </setting>
            <setting name="daysOld" serializeAs="String">
                <value>3000</value>
            </setting>
        </CDS.Server.Backup.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CDS.Server.Backup.Properties.Settings>
            <setting name="CDSBackup_WebReference_MMSGatewayService" serializeAs="String">
                <value>http://196.35.231.50:80/MMSGateway/MMSGateway</value>
            </setting>
        </CDS.Server.Backup.Properties.Settings>
    </applicationSettings>
</configuration>