<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CompleteDistributionConfig" type="CDS.Client.BusinessLayer.Configuration.CompleteDistributionConfig, CDS.Client.BusinessLayer"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CDS.Client.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="devExpress" type="System.Configuration.ConfigurationSectionGroup, System.Configuration,        Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="xtraReports" type="DevExpress.XtraReports.Configuration.XtraReportsConfigurationSection,        DevExpress.XtraReports.v14.2.Extensions, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <CompleteDistributionConfig>
    <RegisteredCompanies>
      <RegisteredCompany name="Demo Company" connectionstring="MultipleActiveResultSets=True;Data Source=SeanDell3560\SQLEXPRESS;Initial Catalog=complete_distribution;Integrated Security=SSPI;" connectiontimeout="10000" updatesite="False"/>
      <!--<RegisteredCompany name="Online" connectionstring="MultipleActiveResultSets=True;Data Source=www.cdsonline.co.za;Initial Catalog=complete_distribution;Persist Security Info=True;User ID=jdebruyn@cdsonline.co.za;Password=CDS0nl1n3" connectiontimeout="10000" updatesite="False"/>-->
      <!--<RegisteredCompany name="LOCAL DEMO" connectionstring="Data Source=(localDB)\v11.0;AttachDbFilename=C:\Data\PAROW DEMO\cds_pegasus.mdf;Integrated Security=True" connectiontimeout="10000" updatesite="False"/>--> 
    </RegisteredCompanies>
  </CompleteDistributionConfig>
  <connectionStrings>
    <add name="ReportsConnectionString"
     connectionString="Data Source=SeanDell3560\SQLEXPRESS;Initial Catalog=complete_distribution;Integrated Security=SSPI;" />
    <add name="EntityReportsConnection" connectionString="metadata=res://*/DB.CDSDBModelReadOnly.csdl|res://*/DB.CDSDBModelReadOnly.ssdl|res://*/DB.CDSDBModelReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=cds_pegasus_pe;Persist Security Info=True;User ID=sa;Password=rabbit&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityViews" connectionString="metadata=res://*/DB.CDSDBModelReadOnly.csdl|res://*/DB.CDSDBModelReadOnly.ssdl|res://*/DB.CDSDBModelReadOnly.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CalendarEntityTables" connectionString="metadata=res://*/DB.CalendarModel.csdl|res://*/DB.CalendarModel.ssdl|res://*/DB.CalendarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="InventoryEntityTables" connectionString="metadata=res://*/DB.InventoryModel.csdl|res://*/DB.InventoryModel.ssdl|res://*/DB.InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CatalogueEntityTables" connectionString="metadata=res://*/DB.CatalogueModel.csdl|res://*/DB.CatalogueModel.ssdl|res://*/DB.CatalogueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AccountingEntityTables" connectionString="metadata=res://*/DB.AccountingModel.csdl|res://*/DB.AccountingModel.ssdl|res://*/DB.AccountingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BuyoutEntityTables" connectionString="metadata=res://*/DB.BuyoutModel.csdl|res://*/DB.BuyoutModel.ssdl|res://*/DB.BuyoutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WorkshopEntityTables" connectionString="metadata=res://*/DB.WorkshopModel.csdl|res://*/DB.WorkshopModel.ssdl|res://*/DB.WorkshopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="OrganisationEntityTables" connectionString="metadata=res://*/DB.OrganisationModel.csdl|res://*/DB.OrganisationModel.ssdl|res://*/DB.OrganisationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ReportEntityTables" connectionString="metadata=res://*/DB.ReportModel.csdl|res://*/DB.ReportModel.ssdl|res://*/DB.ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SecurityEntityTables" connectionString="metadata=res://*/DB.SecurityModel.csdl|res://*/DB.SecurityModel.ssdl|res://*/DB.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SystemEntityTables" connectionString="metadata=res://*/DB.SystemModel.csdl|res://*/DB.SystemModel.ssdl|res://*/DB.SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HumanResourcesEntityTables" connectionString="metadata=res://*/DB.HumanResourcesModel.csdl|res://*/DB.HumanResourcesModel.ssdl|res://*/DB.HumanResourcesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
    <add name="OrderingEntityTables" connectionString="metadata=res://*/DB.OrderingModel.csdl|res://*/DB.OrderingModel.ssdl|res://*/DB.OrderingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}&quot;"
      providerName="System.Data.EntityClient" />
     </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <CDS.Client.Desktop.Properties.Settings>
      <setting name="RegisteredCompany" serializeAs="String">
        <value />
      </setting>
    </CDS.Client.Desktop.Properties.Settings>
  </userSettings>
  <!--
  <appSettings>
    <add key="Kjs.AppLife.Update.Tester" value="true" />
  </appSettings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICDSService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding> 
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:812/CDSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICDSService" contract="CDSWebService.ICDSService" name="BasicHttpBinding_ICDSService"/>
    </client>
  </system.serviceModel>
</configuration>
